<a href="https://colab.research.google.com/github/Muh-Ayyub/ML-Coursework/blob/main/Machine_Learning_Coursework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import necessary libraries
import numpy as np
import pandas as pd

In [15]:
# Read the csv
df = pd.read_csv("bank-full.csv")
df

      age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
0      58;"management";"married";"tertiary";"no";2143...
1      44;"technician";"single";"secondary";"no";29;"...
2      33;"entrepreneur";"married";"secondary";"no";2...
3      47;"blue-collar";"married";"unknown";"no";1506...
4      33;"unknown";"single";"unknown";"no";1;"no";"n...
...                                                  ...
45206  51;"technician";"married";"tertiary";"no";825;...
45207  71;"retired";"divorced";"primary";"no";1729;"n...
45208  72;"retired";"married";"secondary";"no";5715;"...
45209  57;"blue-collar";"married";"secondary";"no";66...
45210  37;"entrepreneur";"married";"secondary";"no";2...

[45211 rows x 1 columns]

In [16]:
# CSV is in an improper format where all the columns are as one, including their values.

# Fix this first before moving on

# Fixing of rows
all_rows_incorrect = [] #List to store incorrectly formatted rows
df_rows = [] #List to store correctly formatted rows

for i in range(len(df)):
  all_rows_incorrect.append(df.iloc[i,0]) #Append each value of the first column (the only column) to a list

for i in all_rows_incorrect:
  df_rows.append(i.split(";")) #Split each value in the incorrectly formatted list to obtain the correct format

df_rows = np.array(df_rows) #Convert to Array datatype to create the dataframe

# Fixing of columns
df_MainColumn = df.columns[0] #Retrieve the column
df_columns = df_MainColumn.split(";") #Split the column at the delimiters of ";" in order to obtain seperated columns
df_columns = pd.Series(df_columns) #Convert to Series datatype to create the dataframe
df_columns = [i.replace('"', '') for i in df_columns] #Clean the column titles so they are all in the same context


# Create the new correctly formatted dataframe
df = pd.DataFrame(data = df_rows,columns = df_columns)

df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,"""management""","""married""","""tertiary""","""no""",2143,"""yes""","""no""","""unknown""",5,"""may""",261,1,-1,0,"""unknown""","""no"""
1,44,"""technician""","""single""","""secondary""","""no""",29,"""yes""","""no""","""unknown""",5,"""may""",151,1,-1,0,"""unknown""","""no"""
2,33,"""entrepreneur""","""married""","""secondary""","""no""",2,"""yes""","""yes""","""unknown""",5,"""may""",76,1,-1,0,"""unknown""","""no"""
3,47,"""blue-collar""","""married""","""unknown""","""no""",1506,"""yes""","""no""","""unknown""",5,"""may""",92,1,-1,0,"""unknown""","""no"""
4,33,"""unknown""","""single""","""unknown""","""no""",1,"""no""","""no""","""unknown""",5,"""may""",198,1,-1,0,"""unknown""","""no"""
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,"""technician""","""married""","""tertiary""","""no""",825,"""no""","""no""","""cellular""",17,"""nov""",977,3,-1,0,"""unknown""","""yes"""
45207,71,"""retired""","""divorced""","""primary""","""no""",1729,"""no""","""no""","""cellular""",17,"""nov""",456,2,-1,0,"""unknown""","""yes"""
45208,72,"""retired""","""married""","""secondary""","""no""",5715,"""no""","""no""","""cellular""",17,"""nov""",1127,5,184,3,"""success""","""yes"""
45209,57,"""blue-collar""","""married""","""secondary""","""no""",668,"""no""","""no""","""telephone""",17,"""nov""",508,4,-1,0,"""unknown""","""no"""
45210,37,"""entrepreneur""","""married""","""secondary""","""no""",2971,"""no""","""no""","""cellular""",17,"""nov""",361,2,188,11,"""other""","""no"""